.sdlc-container.position-relative
  .sdlc-description
    %a.title-link{ href: "/concurrent-devops" }
      %h2 200% Faster DevOps Lifecycle
    %p
      From project planning and source code management to CI/CD and monitoring, GitLab is a single application for the entire DevOps lifecycle. Only GitLab enables
      %a{ href: "/concurrent-devops" } Concurrent DevOps
      to make the software lifecycle 200% faster.
  .table-container
    %p.table-label.single-application-label GitLab is a single application for the entire DevOps lifecycle.
    %p.table-label.separate-application-label GitLab replaces

    %table.sdlc-table
      %tr
        - data.stages.stages.each do |key, stage|
          %td.stage-container
            %a{href: "/stages-devops-lifecycle/#{key}/"}
              = partial "/includes/icons/sdlc-icons/#{key}.svg"
            %a{href: "/stages-devops-lifecycle/#{key}/"}
              %p #{stage.display_name}

      %tr.single-application-row
        - data.stages.stages.each do |stage_key, stage|
          %td.solutions-container
            %img.gitlab-logo{ src: "/images/comparison/gitlab-logo.svg" }
            %p
              Since
              = stage.established
            - category_keys = data.categories.keys.keep_if { |k| data.categories[k].stage == stage_key }
            - category_keys.each do |key|
              %p
                - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                %a{ href: "#{url}" } #{data.categories[key].name}
            %p
              %a{ href: "#{stage.roadmap}", target: "_blank" }
                Roadmap
            %p
              %a{ href: "#{stage.vision}" }
                Vision


      %tr.separate-application-row
        - Gitlab::Homepage::Stage.all!.each do |stage|
          %td.competitors-container{ id: "#{stage.key}-competitors-container" }

            - stage.competitors.each do |competitor|
              %a.competitor-logo-container{ href: "/comparison/#{competitor.key.dup.tr('_', '-')}-vs-gitlab.html" }
                .competitor-tooltip
                  %p.tooltip-text
                    = competitor.name
                  .tooltip-carat
                %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }

  .btn-group.margin-top20
    %a.btn.cta-btn.accent.see-all-comparisons{ href: '/comparison/' } See and compare all DevOps tools

%script{ src: "/javascripts/rotate-competitors.js" }
%script{ src: "/javascripts/libs/tweenmax.min.js" }
