.sdlc-container-alt.position-relative
  .sdlc-description
    %a.title-link{ href: "/concurrent-devops" }
      %h2 200% Faster DevOps Lifecycle
    %p From project planning and source code management to CI/CD and monitoring, GitLab is a single application for the entire DevOps lifecycle.
  %img.sdlc-image{ src: "/images/home/sdl-single-application.png" }
  .table-container
    %p.table-label.single-application-label GitLab is a single application for the entire DevOps lifecycle.
    %p.table-label.separate-application-label GitLab replaces

    %table.sdlc-table
      %tr
        - Gitlab::Homepage::Stage.all!.each do |stage|
          %td.stage-container
            = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
            %p #{stage.display_name}

      %tr.single-application-row
        - Gitlab::Homepage::Stage.all!.each do |stage|
          %td.solutions-container
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              %img.gitlab-logo{ src: "/images/comparison/gitlab-logo.svg" }

      %tr.separate-application-row
        - Gitlab::Homepage::Stage.all!.each do |stage|
          %td.competitors-container{ id: "#{stage.key}-competitors-container" }
            - stage.competitors.each do |competitor|
              %a.competitor-logo-container{ href: "/comparison/#{competitor.key.dup.tr('_', '-')}-vs-gitlab.html" }
                .competitor-tooltip
                  %p.tooltip-text
                    = competitor.name
                  .tooltip-carat
                %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }

  .btn-group.margin-top20
    %a.btn.cta-btn.accent.see-all-comparisons{ href: '/comparison/' } See and compare all DevOps tools
