@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//scss-lint:disable all
.gitlab-content-container {
  display: block !important;

  @media all and (max-width: $screen-md-min) {
    display: flex !important;
    flex-direction: column;
  }
}

.float-right {

  @media all and (max-width: $screen-md-min) {
    float: none;
    order: 1;
  }
}

.form-container {

  @media all and (max-width: $screen-md-min) {
    width: auto;
    margin-left: 0;
  }
}

.analyst-content-container {

  @media all and (max-width: $screen-md-min) {
    display: flex;
    flex-direction: column;
  }
}
