@import "variables";
@import "vendor/bootstrap/bootstrap/variables";
@import "mixins/ie10-and-up";
@import "typography";
@import "components/flex-row";
@import "components/contact-block";

.tab-pane:not(.active) {
  display: none;
}

.tabs-wrapper {
  width: 100%;
  margin: 80px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid $border-color;

  @media all and (max-width: $screen-md-min) {
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 0;
  }
}

.try-gitlab-free {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  h3 {
    font-size: 600;
    margin-top: 0;
    margin-bottom: 16px;
  }

  p {
    font-size: 20px;
  }

  .btn {
    margin-top: 20px;
  }
}

.pricing-tabs {
  position: relative;
  display: flex;
  margin: auto;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    width: 100%;
    border: 1px solid $border-color;
    background: $color-gray-extra-light;
    transform: translateY(1px);
    opacity: .6;

    &:hover:not(.active) {
      opacity: 1;
    }

    &:first-child {
      border-radius: 6px 0 0;

      @media all and (max-width: $screen-md-min) {
        border-radius: 0;
      }
    }

    &:last-child {
      border-radius: 0 6px 0 0;
      border-bottom: 0;
      border-left: 0;

      @media all and (max-width: $screen-md-min) {
        border-radius: 0;
      }
    }

    p {
      color: $color-gray;
      margin: 0;
    }

    .tab-title {
      font-weight: 600;
    }

    svg {

      > path {
        fill: $color-gray;
      }
    }

    //scss-lint:disable NestingDepth
    &.active {
      background: $body-bg;
      z-index: 1;
      opacity: 1;
      border-bottom: 0;

      svg {

        > path {
          fill: $color-black;
        }
      }

      p {
        color: $color-black;
      }

      @media all and (max-width: $screen-md-min) {
        order: 10;
        border: 0;
        width: 100%;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px 30px;
    width: 100%;

    svg {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      flex-shrink: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  @media all and (max-width: $screen-md-min) {
    flex-direction: column;
    width: 100%;
  }
}

.pricing-intro {
  $lt-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: $lt-height;

  @include ie10-and-up {
    height: $lt-height;
  }

  .cta-btn {
    margin-top: 3px;
    margin-bottom: 0;
    line-height: 30px;
  }
}

.pricing-options {
  margin-bottom: 80px;
  color: $text-color-light;
  font-size: 16px;

  @media (min-width: $screen-md-min) {
    .row .col-md-3 {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  h1 {
    margin-top: 0;
    color: $text-color-light;
    font-size: 30px;
  }

  h2 {
    color: $color-primary;

    a {
      text-decoration: underline;
    }
  }

  h3 {
    color: $color-primary;
  }
}

.plan {
  $lt-color-shadow: rgba(0, 0, 0, .10);
  position: relative;
  margin-bottom: 40px;
  border-radius: $border-radius-large;
  background: $color-white;
  box-shadow: 0 2px 6px 0 $lt-color-shadow;

  @media (min-width: $screen-md-min) {
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  .pricing-options--self-managed & {
    border-top: 4px solid $color-self-managed-accent;
    border-bottom: 4px solid $color-self-managed-accent;
  }

  .pricing-options--saas & {
    border-top: 4px solid $color-saas-accent;
    border-bottom: 4px solid $color-saas-accent;
  }

  .all-features {
    @include font-weight-semibold;
    display: block;
    padding: 20px 0;
    border-top: 1px solid $color-gray-extra-light;
    color: $text-color-light;
    font-size: 18px;

    @media (min-width: $screen-md-min) {
      position: absolute;
      right: 0;
      bottom: 4px;
      left: 0;
    }
  }
}

.plan-name {
  margin: 0;
  padding: 8px 0 11px;
  border-bottom: 1px solid $color-gray-extra-light;
  color: $text-color-light;
  font-size: 34px;
  line-height: 1.25;
}

.plan-description {
  padding: 20px;
  font-size: 16px;
  margin: 0;

  @media (min-width: $screen-md-min) {
    min-height: 130px;
  }

  @media (max-width: $screen-md-max) {
    min-height: 185px;
  }

  @media (max-width: $screen-sm-max) {
    min-height: 0;
  }
}

.plan-pricing {
  display: flex;
  align-items: center;
  height: 96px;

  .cost {
    padding: 0 6px;
  }

  .cost-large {
    font-size: 64px;
    text-align: right;
  }

  .cost-small {
    text-align: left;
  }

  .cost-extra-small {
    font-size: 12px;
  }
}

.plan-actions {

  @media (min-width: $screen-md-min) {
    margin-bottom: 20px;
  }

  .more-info {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    line-height: 20px;
  }

  .more-link {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
  }
}

.plan-item-list {
  display: none;
  padding: 20px;
  text-align: left;

  &.list-expanded {
    display: block;
  }

  @media (min-width: $screen-md-min) {
    display: block;
  }

  .item-description {
    display: flex;
    margin-bottom: 20px;

    .info-icon {
      margin-left: 5px;
    }
  }

  a {
    position: relative;
    display: block;
    padding-left: 18px;
    color: $text-color-light;
    font-size: 16px;
    line-height: (26 / 16);

    &::before {
      position: absolute;
      top: 1px;
      left: 0;
      display: inline-block;
      font-family: $font-family-base;
      content: "→";
    }
  }
}

.line-separator {
  background: $landing-organization-color;
  margin: auto;
  width: 85%;
  height: 1px;
}

.content-container {
  background-color: $pricing-gray-bg;

  &.faq {
    padding-bottom: 100px;
    background-color: $color-white;
    border-top: 1px solid $border-color;
  }
}


.contact-us-button {
  margin-top: 50px;
  line-height: 30px;
}

.faq-title {
  margin-top: 0;
  margin-bottom: 40px;
  color: $color-secondary;
}

.faq-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 35px;
  }

  a {
    color: inherit;
    border-bottom: 1px solid;
    font-weight: inherit;

    &:hover {
      color: $color-primary;
      text-decoration: none;
      border-bottom-color: transparent;
    }
  }
}

.compare {
  margin-top: 35px;
  margin-bottom: 80px;

  .title {
    font-weight: 600;
    font-size: 47px;
    color: $color-dark;
    line-height: 64px;
    text-align: center;
    padding-bottom: 50px;
  }
}

.comparison {
  margin-top: 40px;

  &.gray-bg {
    background-color: $body-bg;
  }
}

// TODO pull out into central component with better name
.stacked-buttons {
  display: inline-block;

  .btn {
    display: inline-block;
    float: left; // Prevent layout offset

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.featured-item-expand {
  display: block;
  padding: 10px;
  font-size: 15px;
  color: $mvp-table-header-color;

  &::after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
  }

  &.chevron-up {
    &::after {
      content: "\f077";
    }
  }

  @media (min-width: $screen-md-min) {
    display: none;
  }
}
