.testimonials-container
  %h2.text-center What everyone's saying...
  .testimonials-wrapper
    - data.testimonials.each_slice(3).to_a.each do |group|
      .testimonials-row
        - group.each do |testimonial|
          .testimonial
            %img.testimonial-logo{ src: "#{testimonial.logo}"}
            - if testimonial.stars
              %img.review-stars{ src: "#{testimonial.stars}" }
            %p.testimonial-quote
              = testimonial.quote
            %p.testimonial-author
              = testimonial.author
            - if testimonial.type === "case-study"
              %a.testimonials-link{ href: "#{testimonial.link}", target: "_blank" }
                Read the case study →
            - else
              %a.testimonials-link{ href: "#{testimonial.link}", target: "_blank" }
                See all G2 Crowd reviews →


%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}
%script{src: "/javascripts/testimonials.js", type: "text/javascript"}
