---
title: Features
description: "Learn about the various features of GitLab, including issue tracking, time tracking, reporting, file locking, and more."
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product.css
extra_js:
  - features.js
  - bootstrap-tooltip.js
---
.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %h1
      All GitLab Features
    %p
      GitLab is the first single application for the entire DevOps lifecycle. Only GitLab enables
      %a{ href: "/concurrent-devops/", target: "_blank" }Concurrent DevOps
      , unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 200% faster, radically improving the speed of business.
    %a.btn.cta-btn.btn-red{ href: '/demo/' }
      Watch the demo

.page-container.table-of-contents.text-center{ :style => "padding-bottom: 35px;" }
  .container{ style: "max-width: 900px;" }
    %a.title-link{ href: "/stages-devops-lifecycle/" }
      %h2
        Stages of the DevOps lifecycle
    %ul
      - data.stages.stages.take(9).each do |key, stage|
        = link_to stage.display_name, "##{key}"
        &nbsp;&nbsp;

- data.stages.stages.each do |stage_key, stage|
  .page-container.feature-gallery.text-center.animated{ id: stage_key }
    .container
      %a.title-link{ href: "/stages-devops-lifecycle/#{stage_key}" }
        %h2
          = stage.display_name
      %p.subhead
        = stage.description

      - data.categories.each do |category_key, category|
        - next unless category.stage == stage_key
        - next unless data.features.features.dup.keep_if { |f| f.category && f.category.include?(category_key) }.length > 0
        - url = category.alt_link ? category.alt_link : "/product/#{category_key.gsub('_', '-').downcase}"
        %a{ href: "#{url}"}
          %h4.text-left{style: "max-width: none;"}
            = category.name

        .features-description.features-description-separation
          - data.features.features.each do |feature|
            - if (feature.screenshot_url != nil && feature.category && feature.category.include?(category_key))
              = partial "includes/features/feature-item-with-image", locals: { feature: feature }
          - data.features.features.each do |feature|
            - if (feature.screenshot_url == nil && feature.category && feature.category.include?(category_key))
              = partial "includes/features/feature-item", locals: { feature: feature }

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
