---
title: Category Return on Investment Calculator
suppress_header: true
extra_css:
extra_js:
  - category-roi-calculator.js
---

.wrapper
  .container-fluid.landing-container
    .row
      .col-md-8.col-md-offset-2
        .row
          .col-xs-12
            %h1.text-center
              GitLab Categories ROI Calculator

    .row
      .col-md-12
        %table.table.js-roi-calculator
          %thead
            %tr
              %th Category
              %th GitLab
              %th Vendor
              %th Monthly Cost
          %tfoot
            %tr
              %td{ colspan: 3 }
                &nbsp;
              %td
                %span#js-roi-calculator-total
                  Total
          %tbody
            - data.categories.each do |category_key, category|
              %tr
                %th{ scope: "row" }
                  = category.name
                %td Included
                %td 
                  %select
                    - data.features.competitors.each do |competitor_key, competitor|
                      - next if competitor_key[0..6] == 'gitlab_'
                      - next unless competitor.category && competitor.category.include?(category_key)
                      %option
                        = competitor.name
                %td
                  %input.js-roi-calculator-input{ type: "number", name: "#{category_key}_cost" }
